

p{
	word-spacing: 2px;
}


.post{
	border: 20px solid #c9c9cf;
	padding: 30px;
	font-family: raleway;
	margin: 20px auto;
	max-width: 700 px;
	width: 80%;
	margin-bottom: 20px;
}


hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
h1{
	color: darkblue;
	font-size: 2.0rem;
}
